<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #login {
            text-align: center;
        }
        button {
            background: #e1a948;
            border-color: #e1a948;
            color: #fff;
            height: 30px;
            width: 300px;
        }
    </style>
</head>
<body>
    <div id="login">
        <form action="/login" method="POST">
            <label>Nhập domain</label>
            <input name="domainName">
            </br>
            </br>
            <label style="margin-left: 35px;">Nhập IP</label>
            <input name="ip">
            </br>
            </br>
            <button>Ok</button>
        </form>
    </div>
</body>
</html>